<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%- title %></title>

  <link rel="stylesheet" href="styles/main.css">
  <link rel="stylesheet" href="bower/bootstrap/dist/css/bootstrap.css">

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
   
    <script type="text/javascript" src="bower/jquery/jquery.js"></script>
    <script type="text/javascript" src="bower/bootstrap/dist/js/bootstrap.js"></script>
    <script type="text/javascript" src="/bower/angular/angular.js"></script>
    <script type="text/javascript" src="/bower/angular-animate/angular-animate.js"></script>
    <script type="text/javascript" src="/bower/angular-route/angular-route.js"></script>
    <script type="text/javascript" src="/bower/underscore/underscore.js"></script>
    <script type="text/javascript" src="/bower/restangular/src/restangular.js"></script>

    <script type="text/javascript" src="/js/UserController.js"></script>
    <script type="text/javascript" src="/js/SailsStartApp.js"></script>

  </head>

  <body ng-app='SailsStartApp' ng-controller="UserController">



<nav class="navbar navbar-default" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">Sails Start</a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li ng-class=" (location.path() == '/') ? 'active' : ''"><a href="/">Home</a></li>
      <li ng-class=" (location.path() == '/about') ? 'active' : ''"><a href="#/about">About</a></li>
      <!-- <li><a href="#">Link</a></li> -->
    </ul>
    <form class="navbar-form navbar-left" role="search">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search">
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
    <ul class="nav navbar-nav navbar-right">
      <li ng-class=" (location.path() == '/login') ? 'active' : ''"  ng-hide=" user.isLoggedIn ">
      <a href="#/login" >Login</a>
      </li>
      <li class="dropdown" ng-hide=" !user.isLoggedIn ">
        <a href="javascipt:null" class="dropdown-toggle" data-toggle="dropdown">My Account ({{user.email}})<b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li class="divider"></li>
          <li ng-click="logout()"><a href="javascript:null">Logout</a></li>
        </ul>
      </li>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>

    <!-- Include the view file for the current controller/route -->
    <%- body %>
    <!--<script type="text/javascript" src="/js/socket.io.js"></script>-->
    <!--<script type="text/javascript" src="/js/sails.io.js"></script>-->
    <!--<script type="text/javascript" src="/js/app.js"></script>-->
    </body>
</html>
