<div class="container main-max" >
	<h1>Register with SailsStart!</h1>
	<div class="input-group">
	  <span class="input-group-addon">@</span>
	  <input type="text" class="form-control" 
	  ng-model="loginUser.email" 
	  placeholder="Email">
	</div>
	<br>
	<div class="input-group">
	  <span class="input-group-addon">@</span>
	  <input type="password" class="form-control" 
	  ng-model="loginUser.password" 
	  placeholder="Password">
	</div>
	<br>
	<button ng-click="login()" class="btn btn-primary">Save</button>

</div>